<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <piraeus>
                <payment_action>capture</payment_action>
                <model>Natso\Piraeus\Model\Vpos</model>
                <active>1</active>
                <title>Winbank Redirect</title>
                <order_status>pending</order_status>
                <ticket_url>https://paycenter.piraeusbank.gr/services/tickets/issuer.asmx?wsdl</ticket_url>
                <post_url>https://paycenter.piraeusbank.gr/redirection/pay.aspx?wsdl</post_url>
            </piraeus>
        </payment>
    </default>
</config>